@import "_variables.scss";


// reusable components

// tab
.tab{
    $size: 1em;
    @include center;
    width: 8em;
    height: 3.5em;
    color: $secondary-font-color;
    &__icon{
        @include center;
        .icon{
            @include size($size);
        }
    }
    &__text{
        font-size: $size*0.9;
        padding: 0 $size*0.4;
    }
}
/*
.tab--active{
    border-bottom: 1.9px solid $tertiary-font-color;
    .tab__icon .icon{
        stroke: none;
        fill: $secondary-color;
    }
    .tab__text{
        color: $primary-font-color;
    }
}
*/
// tab animation
.tab{
    user-select: none;
    cursor: pointer;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: $tertiary-font-color;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.2s ease-in-out 0s;
        transition: all 0.2s ease-in-out 0s;
    }
}
.tab--active{
    &:before{
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    .tab__icon .icon{
        stroke: none;
        fill: $secondary-color;
    }
    .tab__text{
        color: $primary-font-color;
    }
}

// logo
.logo{
    display: flex;
    color: $tertiary-font-color;
    @include center;
    &__text{
        padding: 0 0.2em;
    }
    .icon{
        fill: $secondary-color;
        @include size(2.5em);
    }
}

// panel-item
.panel-item{
    $item-width: 11em;
    $item-height: 2.3em;
    $icon-width: 3em;
    $font-color-main: $primary-font-color;
    $font-color-sub: lighten($primary-font-color, 40%);
    display: flex;
    width: $item-width;
    height: $item-height;
    padding: 0.3em 0;
    &__icon{
        width: $icon-width;
        @include center;
        .icon{
            stroke: $font-color-sub;
            @include size(1.2em);
        }
    }
    &__text{
        width: $item-width - $icon-width;
        @include vertically-center;
        color: $font-color-sub;
        font-size: 0.8em;
    }
    &.active{
        .panel-item__text{color: $tertiary-font-color;}
    }
    &:not(.main) p{
        cursor: pointer;
    }
    &.main{
        box-shadow: 0 0 4px rgba(0,0,0,0.1);
        background-color: white;
        border-radius: 4px;
        .panel-item__text{
            color: $primary-font-color;
            font-weight: 600;
        }
        &.active{
            background-color: $secondary-color;
            .panel-item__icon .icon{
                fill: white;
                stroke: white;
            }
            .panel-item__text{
                color: white;
            }
        }
    }

}

// user component in chat_with_users
.chat__with__users .user{
    padding: 0 0.7em;
    img{
        @include size(3em);
        border-radius: 50%;
    }
    &__wrapper{
        border-bottom: 1px solid lighten($primary-font-color, 80%);
    }
    &__main{
        padding: 1.017em 0;
        display: flex;
        &__img{flex: 2;}
        &__content{
            flex: 6;
            @include vertically-center;
        }
        &__name{
            font-size: 16px;
            font-weight: 600;
            color: lighten($primary-font-color, 20%);

        }
        &__text{
            font-size: 10px;
            color: lighten($primary-font-color, 40%);
            .em{transform: translateY(-2px);}
        }
    }
    &__other{
        $icon-size: 12px;
        font-size: 10px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 1em;
        color: lighten($primary-font-color, 40%);;
        .icon{
            @include size($icon-size);
            &.eye{
                stroke: green;
            }
        }
        &__replies{
            @include center;
            
        }
    }/*
    &.active{
        background-color: lighten($secondary-color, 28%);
        .user__wrapper{
            border-bottom: 1px solid $secondary-color;
        }
        .user__main__name{
            color: darken($secondary-color, 10%);
        }
    }
    */
}
// user animation
.chat__with__users .user{
    cursor: pointer;
    &__wrapper{
        position: relative;
    }
    &__wrapper:before{
        content: "";
        position: absolute;
        width: 100%;
        height: 1.5px;
        bottom: 0;
        left: 0;
        background-color: $secondary-color;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    &.active .user__wrapper:before{
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    &.active{
        background-color: lighten($secondary-color, 28%);
        .user__main__name{
            color: darken($secondary-color, 10%);
        }
    }
}


// msg-item
.msg-item{
    color: $tertiary-font-color;
    font-weight: 600;
    &__wrapper{
        width: 23em;
        padding: 0.5em;
        margin-left: auto;
        display: flex;
    }
    &__text{
        flex: 1;
        padding: 0.7em;
        background-color: lighten($secondary-color, 23%);
        border-radius: 10px;
    }
    &__user{
        width: 2em;
        display: flex;
        flex-direction: column-reverse;
        margin-left: 1em;
        img{
            border-radius: 50%;
        }
    }
}

.msg-item-with-photos{
    color: $tertiary-font-color;
    font-weight: 600;
    color: $tertiary-font-color;
    padding-top: 1em;
    &__wrapper{
        padding: 0.5em;
        display: grid;
        grid-template-columns: 2.7em repeat(4, 5em) 5em;
        grid-template-rows: 3em repeat(3, 3.5em); 
        grid-gap: 0.4em;
    }
    &__user{
        width: 2em;
        img{border-radius: 50%;}
        grid-row: 1 / 6;
        display: flex;
        flex-direction: column-reverse;
    }
    &__text{
        padding: 0.7em;
        background-color: lighten($secondary-color, 23%);
        @include center;
        grid-column: 2/ span 4;
    }
    &__img-main{
        grid-row: span 3;
        grid-column: 2 / span 4;
        border-radius: 2px;
    }
    &__img-main img, &__img img, &__text{
        border-radius: 10px;
    }
}


// btn
button.btn{
    display: flex;
    cursor: pointer;
    padding: 0;
    @include center;
    outline: none;
    border: 1px solid gray;
    background-color: inherit;
    border-radius: 2px;
    cursor: pointer;
}

// add bar
.add-bar{
    $width: 550px;
    $height: 40px;
    $icon-size: 15px;
    $font-size: 12px;
    $font-color: lighten($primary-font-color, 30%);
    color: $font-color;
    position: absolute;
    top: -35px;
    left: 10px;
    height: $height;
    width: $width;
    @include horizontal-list;
    border-radius: 6px;
    background-color: lighten($primary-bg-color, 10%);
    box-shadow: -1px 1px 5px rgba(0,0,0,0.2);
    opacity: 1;
    transition: opacity 0.5s;
    visibility: visible;
    &__item{
        transition: all 0.3s ease-in-out;
        border-radius: 6px;
        padding: 0 8px;
        cursor: pointer;
        @include min-size(60px, 28px);
        @include center;
        &__icon{
            padding-right: 10px;
            @include vertically-center;
            .icon{
                @include size($icon-size);
            }
        }
        &__text{
            font-size: $font-size;
        }
        &.active{
            background-color: lighten($secondary-color, 22%);
            .icon{
                stroke: darken($secondary-color, 10%);
            }
            color: darken($secondary-color, 15%);
        }
        
    }
}


.hide{
    opacity: 0;
    visibility: hidden;
}