@import "_variables.scss";

body{
    min-height: 100vh;
    @include center;
    background-color: #333;
}

.container{
    width: 85em;
}

.header{
    background-color: white;
    $font-size: 0.9em;
    $height: 3.5em;
    $icon-size: 1em;
    height: $height;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__tabs .icon, &__other .icon{
        @include size($icon-size);
        stroke: $secondary-font-color;
    }
    &__logo{
        padding-left: 2em;
    }
    &__tabs{
        display: flex;
        padding-left: 5em;
        .tab{ height: $height; }
    }
    &__other{
        height: $height;
        width: 15em;
        @include horizontal-list;
        .bell .icon{
            stroke: $tertiary-font-color;
        }
        .user{
            width: 10em;
            @include horizontal-list;
            .down{@include center;}
        }
        .user img{
            border-radius: 50%;
            @include size(2em);
        }
    }
}

.content{
    background-color: $primary-bg-color;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    display: flex;
    &-panel-container{
        flex: 1.2;
    }
    &-main-container{
        flex: 5;
    }
}

.panel{
    $width: 12em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__me{  
        width: $width;
        text-align: center;
        &__name{padding: 1em 0 0.5em 0;}
        &__img{
            margin: 0 auto;
            width: 10em;
        }
        &__about{
            font-size: 0.7em;
            color: lighten($primary-font-color, 40%);
        }
    }
    &__items{
        padding-top: 2em;
        @include vertical-list;
        width: $width;

    }
}

.main{
    padding-right: 2em;
    &__header{
        width: 100%;
        $icon-size: 2.5em;
        display: flex;
        padding-bottom: 1em;
        &__icon{
            @include vertically-center;
            .icon{
                fill: $tertiary-font-color;
                stroke: none;
                @include size($icon-size);
            }
        }
        &__title{
            padding: 0 1em;
            @include vertically-center;
        }    
    }
    .chat{
        $header-height: 3em;
        $chat-height: 35.5em;
        height: $chat-height;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 -2px 8px rgba(0,0,0,0.1);
        display: flex;
        .chat__with{
            flex: 4;
        }
        .chat__msg{
            flex: 10;
        }
        .chat__with{
            background-color: #fcfcfc;
            border-top-left-radius: 10px;
            &__header{
                display: flex;
                justify-content: space-between;
                padding: 1em;
                height: $header-height;
            }
        }
        .chat__msg{
            display: flex;
            flex-direction: column;
            &__header{
                height: $header-height;
                display: flex;
                padding-left: 2em;
                .tab{
                    height: $header-height;
                }
                .tab--active{
                    .icon{
                        stroke: $tertiary-font-color;
                        fill: white;
                        stroke-width: 3px;
                    }
                }
                
            }
            &__main{
                flex: 1;
                &__top{
                    font-size: 14px;
                    text-align: center;
                    color: lighten($secondary-font-color, 20%);
                    padding: 1em 0;
                }
                .msg-item__text, .msg-item-with-photos__text{
                    font-size: 15px;
                    color: darken($tertiary-font-color, 5%);
                }
            }
            &__footer{
                $btn-bg-color: darken($secondary-color,5%);
                position: relative;
                background-color: #fcfcfc;
                > div:not(#add-bar){
                    @include vertically-center;
                    padding: 0 0.5em;
                }
                height: $header-height*1.3;
                display: flex;
                .text{
                    flex: 1;
                    font-size: 0.9em;
                    color: $secondary-font-color;
                }
                .btn{
                    border: 0;
                }
                #toggle .btn{
                    $icon-size: 3em;
                    .icon{
                        @include size($icon-size);
                        stroke: white;
                        fill: $btn-bg-color;
                        transform: rotate(0deg);
                        transition: transform 0.4s;    
                    }
                    &.active .icon{
                        transform: rotate(40deg);
                    }
                }
                #send .btn{
                    background-color: $btn-bg-color;
                    padding: 0.4em 0.6em;
                    border-radius: 6px;
                    color: white;
                    .icon{
                        fill: white;
                        @include size(1.5em);
                    }
                    p{padding-left: 0.5em;}
                }
            }
        }
    }
}

.main__chat{
    $border-color: lighten($secondary-font-color, 30%);
    .chat__with{
        border-right: 2px solid $border-color;
    }
    .chat__with__header{
        border-bottom: 2px solid $border-color;
    }
    .chat__msg__header{
        border-bottom: 2px solid $border-color;
    }
    .chat__msg__footer{
        border-top: 2px solid $border-color;
    }
}