@import "_variables.scss";

html{
    font-family: $primary-font;
}
h1, h2, h3, h4, h5, h6{
    padding: 0;
    margin: 0;    
}
body{
    margin: 0;
    box-sizing: border-box;  
}
body *{box-sizing: border-box;}
ol, ul{
    list-style: none;
}
p{
    padding: 0;
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
    
}