$primary-color: #000;
$secondary-color: #E7887B;;
$tertiary-color: #b6b5b5;

$primary-font-color: $primary-color;
$secondary-font-color: lighten($primary-font-color, 60%);
$tertiary-font-color: $secondary-color;

$primary-bg-color: #F7F7F7;

$primary-font: 'Roboto', sans-serif;

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin vertically-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}
@mixin min-size($width, $height: $width) {
    min-width: $width;
    min-height: $height;
}
@mixin horizontal-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin vertical-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
